body{
    margin: 0;
   
   
}
header,footer{
    background-color: rgb(190, 201, 238);
    border-color: rgb(190, 201, 238);
    
    height: 50px;
    text-align: center;
    color:navy;
    padding: 1em 0;
    padding-bottom: 50px;
   
    margin: 0;
}
nav{
    
    overflow: hidden;
  background: none;
    width: auto;
    height: 500px;
    color: white;
    background: url('castle.jpg');
    background-size: cover;
    mar
    

}
nav ul li{
    color: white;
    display: inline-block;
    padding-left: 10px;
}
main{
   
}
.article1{
    height: 150px;
    background-color: #FFE7A5;
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    color: rgb(114, 90, 10);
    text-shadow: 2px grey;
   
}

    
.article2{
    height: 500px;
    background-color: rgb(190, 201, 238);
}
.article3{
    height: 400px;
    background-color: rgb(202, 211, 240);
    color: navy;
    font-size: larger;
    margin-top: 0;
    padding-top: 50px;
}
.container{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    background-color:  rgb(190, 201, 238);
    padding-left: 200px;
   
}


.image {
    max-width: 100%;
    max-height:100%;
    padding-right: 20px;
  }
  
  .text {
    font-size: 15px;
    color: navy;
    width: 500px;
    padding-inline: 40px;
    padding-left: 10px;
    font-size:medium ;
    padding-top: 400px;
    max-width: 100%;
  }
  .a {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    opacity: 0.8;
    font-family: fantasy;
}